<header>
    <div class="header-wrapper">
        <div class="logo">
            <a href="https://www.work-hours.com" target="_blank"><img src="assets/images/work-hours-logo-white-bgrm.png" alt="Work-Hours"></a>
        </div>
        <h2>{{userData.companyName}}</h2>
        <div class="header-icons">
            <button id="profile" ><i class="fas fa-user"></i></button>
            <button id="log-out" (click)="logOut()"><i class="fas fa-right-from-bracket"></i></button>
            
        </div>
    </div>
</header>
